@using tda_proj.Model;
@using tda_proj.Service;

@page "/"

    <head>
        <link href="css/main-page.css" rel="stylesheet" />
    </head>
    <body>
        <main>
        <button id="filter"><i class="fa-solid fa-filter fa-2xl"></i></button>

        <div class="cards">

            @foreach (var lector in allLectors)
            {
                Tags = lector.lectorTags.Select(lt => lt.Tag).ToList();


                <div class="card">
                    <NavLink href="lektor" class="info"><i class="fa-solid fa-circle-info"></i></NavLink>
                    <img src="@lector.pictureUrl">


                    @*  header *@
                    <h1 class="title">
                        @foreach (var titleBefore in lector.titlesBefore)
                        {
                            @titleBefore.Title

                        }
                        <h1>
                            @lector.firstName
                            @lector.middleName
                            @lector.lastName
                        </h1>
                        

                        @foreach (var titleAfter in lector.titlesAfter)
                        {

                            @titleAfter.Title

                        }
                    </h1>


                    @* claim *@
                   <div class="subtitle">
                        @for (int i = 0; i < lector.claims.Count; i++)
                        {

                            @if (i < lector.claims.Count - 1)
                            {
                                <p>@lector.claims[i].Name</p>
                                <p> /</p>
                            }
                            else
                            {
                                <p>@lector.claims[i].Name</p>
                            }
                        }
                   </div>


                    <div class="contacts">
                        <p><span class="special_text1"><i class="fa-solid fa-location-dot fa-xl"></i></span>  @lector.location</p>
                        <p> | </p>
                        <p>Cena za hodinu: <span class="special_text1">@lector.pricePerHour Kč</span></p>
                    </div>

                    <div class="tags">
                        <button class="predchozi_btn btn"><i class="fa-solid fa-chevron-left"></i></button>

                        @foreach (var tag in Tags)
                        {
                            <p class="tag">@tag.TagName</p>
                        }

                        <button class="dalsi_btn btn"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </div>
            }
        </div>
        </main>
    </body>                      

@code {

    protected override void OnInitialized()
    {
        allLectors = lectorService.GetAllLectorsWithDetails();
    }

    private List<Lector> allLectors = new List<Lector>();
    private List<Tag> Tags = new List<Tag>();
    LectorService lectorService = new LectorService();
}
