@using tda_proj.Model;
@using tda_proj.Service;

@page "/lecturer"



<h3>Lector</h3>

@foreach (var lector in allLectors)
{
    Tags = lector.lectorTags.Select(lt => lt.Tag).ToList();


    <hr>
    <div class="d-flex gap-1">
        
      @*   tohle jsou tituly před *@
        @foreach (var titleBefore in lector.titlesBefore)
        {
            if (titleBefore.Title != null)
            {
                <h1>@titleBefore.Title</h1>
            }
        }

        <h1 class="title">@lector.firstName</h1>
        <h1 class="title">@lector.middleName</h1>
        <h1 class="title">@lector.lastName</h1>

   @*      tohle jsou tituly po*@
        @foreach (var titleAfter in lector.titlesAfter)
        {
            if (titleAfter.Title != null)
            {
                <h1>@titleAfter.Title</h1>
            }
        }

   @*tohle jsou claimy*@
        @foreach (var claim in lector.claims)
        {

            if (claim.Lector != null)
            {
                <p class="subtitle">@claim.Lector</p>
            }


        }
   @*tohle je lokace*@

        <p><span class="special_text1"></span> lokace: @lector.location </p>
        
   @*tohle je price_per_hour*@

        <p> <span class="special_text1">cena za hodinu: @lector.pricePerHour</span></p>

    @*tohle jsou tagy *@
        @foreach (var tag in Tags)
        {
            <p class="tag">@tag.TagName</p>
        }

           <img src="@lector.pictureUrl">
    </div>

    <hr>
}


@code {

    protected override void OnInitialized()
    {
        allLectors = lectorService.GetAllLectorsWithDetails();
    }

    private List<Lector> allLectors = new List<Lector>();
    private List<Tag> Tags = new List<Tag>();
    LectorService lectorService = new LectorService();
}
