@using tda_proj.Model;
@using tda_proj.Service;

<head>
    <link href="css/main-page.css" rel="stylesheet" />
</head>

<div>
    <div @onclick="ToggleTags" class="filter_button">
        <h2>Tagy</h2>
        <i class="fa fa-angle-down fa-2xl" style='@(showTags ? "transform: rotate(180deg);" : "")'></i>
    </div>
    <div id="filter_tags" class="@(showTags ? "filter_dropdown filter_dropdown--visible" : "filter_dropdown filter_dropdown--hidden") ">
       
        @foreach(var tag in allTags)
        {
            <label class="filter_tag" @onclick="() => InsertTag(tag)">
                <p> @tag.TagName</p>
                <input type="checkbox" class="filter_input" name="@tag.TagName">            
            </label>
        }
        @if(chosenTags != null)
        {
            @foreach(string tagName in chosenTags)
            {
                <p>@tagName</p>
            }
        }

    </div>     
</div>

@code {
    [Parameter]
    public List<Tag> allTags { get; set; }

    public List<string> chosenTags { get; set; }

    private bool showTags = false;

    // private string tagsDisplayStyle => showTags ? "display: block;" : "display: none;";

    private void ToggleTags()
    {
        showTags = !showTags;
    }
    private void InsertTag(Tag tag)
    {
        if(tag.IsChecked == false)
        {
            tag.IsChecked = true;
            chosenTags.Add(tag.TagName);
        }
        else
        {
            tag.IsChecked = false;
            if (chosenTags.Contains(tag.TagName))
            {
                chosenTags.Remove(tag.TagName);
            }
        }
    }
}